[Unit]
Description=upload /media to /dbx with rclone
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
ExecStart=/bin/bash /home/raph/scripts/upload.sh
User=root

[Install]
WantedBy=default.target
